[workspace]
authors   = ["Sebastian Castro <sebas.a.castro@gmail.com>", "JafarAbdi <jafar.uruc@gmail.com>"]
channels  = ["conda-forge"]
name      = "roboplan"
platforms = ["linux-64", "linux-aarch64"]
version   = "0.1.0"

[activation.env]
CMAKE_INSTALL_MODE   = "SYMLINK"
CMAKE_INSTALL_PREFIX = "$CONDA_PREFIX"
LD_LIBRARY_PATH      = "$CONDA_PREFIX/lib"
ASAN_OPTIONS         = "symbolize=1:print_stacktrace=1"
ASAN_SYMBOLIZER_PATH = "$CONDA_PREFIX/bin/llvm-symbolizer"

[tasks]
configure = { cmd = [
  "cmake",
  "-GNinja",
  "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
  "-DCMAKE_EXPORT_COMPILE_COMMANDS=ON",
  "-DCMAKE_BUILD_TYPE=RelWithDebInfo",
  "-DBUILD_TESTING=ON",
  # Use clang as the compiler
  "-DCMAKE_C_COMPILER=clang",
  "-DCMAKE_CXX_COMPILER=clang++",
  # Use mold as the linker
  "-DCMAKE_EXE_LINKER_FLAGS=-fuse-ld=mold",
  "-DCMAKE_MODULE_LINKER_FLAGS=-fuse-ld=mold",
  "-DCMAKE_SHARED_LINKER_FLAGS=-fuse-ld=mold",
  # Use sccache to speed up compilation
  "-DCMAKE_C_COMPILER_LAUNCHER=sccache",
  "-DCMAKE_CXX_COMPILER_LAUNCHER=sccache",
  # Activate color output with Ninja
  "-DCMAKE_COLOR_DIAGNOSTICS=ON",
  # Compiler flags
  "{{ '-DCMAKE_CXX_FLAGS=' + cxx_flags if cxx_flags }}",
  "{{ '-DCMAKE_C_FLAGS=' + cxx_flags if cxx_flags }}",
  "{{ extra_flags }}",
  # Disable warnings about unused command line arguments
  "--no-warn-unused-cli",
  "-S",
  "{{ package_path }}",
  "-B",
  "build//{{ package_name }}",
], args = [
  { arg = "package_name" },
  { arg = "package_path" },
  { arg = "cxx_flags", default = "" },
  { arg = "extra_flags", default = "" },
] }
build = { cmd = [
  "cmake",
  "--build",
  "build/{{ package_name }}",
], depends-on = [
  { task = "configure", args = [
    "{{ package_name }}",
    "{{ package_path }}",
    "{{ cxx_flags }}",
    "{{ extra_flags }}",
  ] },
], args = [
  { arg = "package_name" },
  { arg = "package_path" },
  { arg = "cxx_flags", default = "" },
  { arg = "extra_flags", default = "" },
] }
install = { cmd = [
  "cmake",
  "--install",
  "build/{{ package_name }}",
], depends-on = [
  { task = "build", args = [
    "{{ package_name }}",
    "{{ package_path }}",
    "{{ cxx_flags }}",
    "{{ extra_flags }}",
  ] },
], args = [
  { arg = "package_name" },
  { arg = "package_path" },
  { arg = "cxx_flags", default = "" },
  { arg = "extra_flags", default = "" },
] }
build_bindings = "pip install -e bindings --no-build-isolation"
build_all = { depends-on = [
  { task = "install_dependencies" },
  { task = "install", args = ["roboplan_example_models", "roboplan_example_models"] },
  { task = "install", args = ["roboplan", "roboplan"] },
  { task = "install", args = ["roboplan_simple_ik", "roboplan_simple_ik"] },
  { task = "install", args = ["roboplan_oink", "roboplan_oink"] },
  { task = "install", args = ["roboplan_rrt", "roboplan_rrt"] },
  { task = "install", args = ["roboplan_toppra", "roboplan_toppra"] },
  { task = "build", args = ["roboplan_examples", "roboplan_examples"] },
  "build_bindings",
] }
install_all = { depends-on = [
  { task = "build_all" },
  { task = "install", args = ["roboplan_examples", "roboplan_examples"] },
] }

build_asan = { cmd = [
  "cmake",
  "--build",
  "build/{{ package_name }}",
], depends-on = [
  { task = "configure", args = [
    "{{ package_name }}",
    "-fsanitize=address",
  ] },
], args = [
  { arg = "package_name" },
] }
# https://clang.llvm.org/docs/analyzer/developer-docs/PerformanceInvestigation.html#performance-analysis-using-ftime-trace
build_timetrace = { depends-on = [
  { task = "configure", args = [
    "{{ package_name }}",
    "{{ package_path }}",
    "-ftime-trace",
  ] },
  { task = "build", args = [
    "{{ package_name }}",
    "{{ package_path }}",
  ] },
], args = [
  { arg = "package_name" },
  { arg = "package_path" },
] }
build_tests = { depends-on = [
  { task = "install_dependencies" },
  { task = "install", args = [
    "roboplan_example_models",
    "roboplan_example_models",
    "{{ cxx_flags }}",
    "ON",
  ] },
  { task = "install", args = [
    "roboplan",
    "roboplan",
    "{{ cxx_flags }}",
    "ON",
  ] },
  { task = "install", args = [
    "roboplan_simple_ik",
    "roboplan_simple_ik",
    "{{ cxx_flags }}",
    "ON",
  ] },
  { task = "install", args = [
    "roboplan_rrt",
    "roboplan_rrt",
    "{{ cxx_flags }}",
    "ON",
  ] },
  { task = "install", args = [
    "roboplan_toppra",
    "roboplan_toppra",
    "{{ cxx_flags }}",
    "ON",
  ] },
  { task = "build", args = [
    "roboplan_examples",
    "roboplan_examples",
    "{{ cxx_flags }}",
    "ON",
  ] },
], args = [
  { arg = "cxx_flags", "default" = "" },
] }

# Test related tasks
test = { cmd = "ctest -V --test-dir build/{{ package_name }}", args = [
  { arg = "package_name" },
], env = { GTEST_COLOR = "YES" } }

test_py  = { cmd = "python3 -m pytest --capture=no", cwd = "bindings" }
test_cpp = { depends-on = [
  { task = "test", args = ["roboplan"] },
  { task = "test", args = ["roboplan_rrt"] },
  { task = "test", args = ["roboplan_simple_ik"] },
  { task = "test", args = ["roboplan_toppra"] },
] }
test_all = { depends-on = ["test_py", "test_cpp"] }
test_benchmarks = { cmd = "python3 -m pytest benchmarks/ --benchmark-json pytest_benchmarks.json" }

# Platform specific tasks for dependencies
install_dependencies = { depends-on = [
  { task = "install", args = ["toppra", "external/toppra/cpp", "", "-DPYTHON_BINDINGS=OFF"] },
] }

[target.linux-64.tasks.install_dependencies]
# For linux-64, there is a libtoppra conda package, so no need to source build.
cmd = "echo 'No dependencies to install for linux-64'"

[dependencies]

# Build dependencies
cmake       = ">=3.30.5,<4"
ninja       = ">=1.12.1,<2"
clangxx     = ">=19.1.7,<20"
gxx         = ">=11,<12"
gcc         = ">=11,<12"
lld         = ">=19.1.2,<20"
libstdcxx   = ">=15.1.0,<16"
llvm-openmp = ">=19.1.7,<20"
mold        = ">=2.40.2,<3"
sccache     = ">=0.10.0,<0.11"
yaml-cpp    = ">=0.8.0,<0.9"

# Core dependencies
eigen     = ">=3.4.0,<4"
pinocchio = ">=3.7.0,<4"
osqp-eigen = ">=0.11.0,<0.12"

# Python bindings dependencies
python            = ">=3.11,<3.12"
nanobind          = ">=2.8.0,<3"
scikit-build-core = ">=0.11.5,<0.12"
numpy             = "*"
xacro             = ">=2.1.1,<3"

# Dependencies for examples
tyro              = ">=0.9.26,<0.10"
viser             = ">=1.0.21,<2"
zstandard         = ">=0.25.0,<0.26"

# We use pip as a workaround for pixi building the bindings before we build the core packages
# In theory, it should be like this:
# [pypi-dependencies]
# roboplan = { path = "bindings", editable = true }
#
# [pypi-options]
# no-build-isolation = ["roboplan"]

pip = ">=25.1.1,<26"

# Test dependencies
gtest = ">=1.17.0,<2"
# Sanitizer dependencies
llvm-tools  = ">=19.1.7,<20"
compiler-rt = ">=19.1.7,<20"
# Python test dependencies
pytest = ">=6"
matplotlib = ">=3.10.5,<4"
pytest-benchmark = ">=5.1.0,<6"

# TOPP-RA is currently only available on linux
[target.linux-64.dependencies]
libtoppra = ">=0.6.4,<0.7"

[pypi-dependencies]
pycollada = ">=0.9.2, <0.10"

[feature.lint.dependencies]
pre-commit = ">=4.1.0,<5"

[feature.lint.tasks]
lint = "pre-commit run --all-files"

[environments]
lint = { features = ["lint"], no-default-feature = true }
